$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

body {
	background-color: rgba(#0ad, 0.8);
	overflow: hidden;
	padding-top: 120px;
}

.container {
	width: 90%;
	max-width: 640px;
}

#cross {
	color: rgba(#fff, 0.2);
	font-size: 1400px;
	font-weight: 600;
	left: 50%;
	margin: -1000px -390px 0;
	position: fixed;
	text-align: center;
	top: 50%;
	z-index: -1
}

.hero {
	background-color: rgba(#fff, 0.85);
	border: 1px solid rgba(#ccc, 0.3);
	border-radius: 40px;
	left: 50%;
	top: 50%;
	margin: -172px -320px 0;
	position: fixed;
	padding: 80px;
	width: 100%;
	max-width: 640px;
}

#verse {
	font-size: 21px;
	font-weight: 200;
	letter-spacing: 1px;
	margin-bottom: 40px;
	min-height: 94px;

	a {
		display: block;
		font-size: 14px;
		line-height: 36px;
	}
}

form {
	span.twitter-typeahead {
		display: inline !important;
	}

	.tt-query,
	input.tt-hint {
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}

	input[type="text"],
	.btn {
		font-weight: 200;
		font-size: 21px;
	}
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
	font-weight: 200;
	font-size: 21px;
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  top: 43px !important;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.tt-suggestion {
  display: block;
  padding: 2px 20px;
}

.tt-hint {
	top:-1px !important;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}